<table border="1" cellspacing="2" cellpadding="2">
  <tr>
    <% list_columns.each do |c| %>
      <th><%= c %></th>
    <% end %>
    <th>detail</th>
  </tr>
  
  <%% @list.entries.each do |e| %>
  <tr>
      <% list_columns.each do |c| %>
      <td>
        <% if c =~ /_id$/ %>
          <%%= e.<%= target_model.underscore %>.<%= c.titleize.underscore %>.try(:name) %>
        <% else %>
          <%%= e.<%= target_model.underscore %>.attributes['<%= c %>'] %>
        <% end %>
        &nbsp;
      </td>
      <% end %>
      <td><%%= link_to "details", e %></td>
  </tr>
  <%% end %>
  
</table>
