<%% form_for @search do |f| %>
  
  <% search_columns.each do |c| %>
    <p>
      <%= c[:name]%>:
      <%=
        case c[:input]
          when :text
            "<%= f.text_field :#{c[:name]} %%>"
          when :datetime
            "<%= f.datetime_select :#{c[:name]} %%>"
          when :date
            "<%= f.date_select :#{c[:name]} %%>"
          when :select
            "<%= f.select(:#{c[:name]}, ::#{c[:name].titleize}.find(:all).map { |item| [item.name, item.id] }, :prompt => 'Bitte wählen' ) %%>"
        end
      %>
    </p>
  <% end %>
  
  <%%= f.submit "suchen" %>
  
<%% end %>