<%% form_for @search do |f| %>
<table border="1" cellspacing="2" cellpadding="2">
  
  <% search_columns.each do |c| %>
    <tr>
      <td width="150"><%= c[:name]%>:</td>
      <td><%=
        case c[:input]
          when :text
            "<%= f.text_field :#{c[:name]} %%>"
          when :datetime
            "<%= f.datetime_select :#{c[:name]}, :prompt => 'Bitte wählen' %%>"
          when :date
            "<%= f.date_select :#{c[:name]}, :prompt => 'Bitte wählen' %%>"
          when :select
            "<%= f.select(:#{c[:name]}, ::#{c[:name].titleize}.find(:all).map { |item| [item.name, item.id] }, :prompt => 'Bitte wählen' ) %%>"
        end
      %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2"><%%= f.submit "suchen" %></td>
  </tr>
  
  
</table>
<%% end %>